<div class="container">
  <h1>Livres</h1>
  @if (user && user.roles.includes('ROLE_ADMIN')) {
  <a class="btn btn-outline-primary" routerLink="/addBook">Ajouter</a>}
  @if (isUserLoggedIn) {
  @for (item of books; track $index) {
  <div class="border p-2 my-2 d-flex justify-content-between" style="max-width: 600px;">
    <div>
      <div>
        <p><strong>Titre: </strong>{{item.title}}</p>
        <p><strong>CoverText: </strong>{{item.coverText}}</p>
        <p><strong>Commentaires: </strong>{{item.comment}}</p>
      </div>
      @if (item.author) {
      <div class="border p-2">
        <p><strong>Auteur: </strong></p>
        <div>
          <p><strong>Prénom: </strong>{{ item.author.firstName }}</p>
          <p><strong>Nom: </strong>{{ item.author.lastName }}</p>
        </div>
      </div>}
    </div>
    @if (user.roles.includes('ROLE_ADMIN')) {
    <div class="d-flex flex-column justify-content-center">
      <button class="btn btn-warning my-2" (click)="editBook(item.id)">Éditer</button>
      <button class="btn btn-danger my-2" (click)="deleteBook(item.id)">supprimer</button>
    </div>}
  </div>
  } @empty {
  <p>No books found</p>
  }}@else {
  <p>Vous devez être connecté pour voir les livres</p>
  }
</div>
